.page {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    transition: width var(--transition-normal);
    box-shadow: var(--shadow-lg);
    z-index: 20;
}

.topbar {
    background-color: var(--bg-card);
}

.cursor-pointer {
    cursor: pointer;
}

.user-area:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}
